<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../build/styles.css" rel="stylesheet" />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="bg-cyan-600 h-screen">
      <%- include('../../partial/nav/index'); %>
      <header class="bg-cyan-600">
        <div
          class="flex items-center justify-between max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8 bg-cyan-600 border-b-2 border-white border-solid"
        >
          <h1 class="text-lg leading-6 font-semibold text-white">Reports</h1>
        </div>
      </header>
      <main class="bg-cyan-600">
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 bg-cyan-600">
          <!-- Content -->
          <div class="px-4 py-4 sm:px-0">
            <div
              class="border-4 border-dashed border-gray-200 rounded-lg h-auto bg-gray-100"
            >
              <div
                class="mt-4 mx-5 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3"
              >
                <!-- Card -->

                <div class="bg-white overflow-hidden shadow rounded-lg">
                  <div class="p-5">
                    <div class="flex items-center">
                      <div class="flex-shrink-0">
                        <i class="far fa-money-bill-alt fa-2x"></i>
                      </div>
                      <div class="ml-5 w-0 flex-1">
                        <dl>
                          <dt
                            class="text-sm font-medium text-gray-500 truncate"
                          >
                            <span>Cash Flow</span>
                          </dt>
                          <dd>
                            <div class="text-lg font-medium text-gray-900">
                              <span>Jan 2022</span>
                              <span class="float-right">$30,659.45</span>
                            </div>
                          </dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <div class="bg-gray-50 px-5 py-3">
                    <div class="text-sm">
                      <a
                        href="#"
                        class="font-medium text-cyan-700 hover:text-cyan-900"
                      >
                        View all
                      </a>
                    </div>
                  </div>
                </div>

                <!-- More items... -->
                <div class="bg-white overflow-hidden shadow rounded-lg">
                  <div class="p-5">
                    <div class="flex items-center">
                      <div class="flex-shrink-0">
                        <i class="fas fa-receipt fa-2x"></i>
                      </div>
                      <div class="ml-5 w-0 flex-1">
                        <dl>
                          <dt
                            class="text-sm font-medium text-gray-500 truncate"
                          >
                            Expense
                          </dt>
                          <dd>
                            <div class="text-lg font-medium text-gray-900">
                              $30,659.45
                            </div>
                          </dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <div class="bg-gray-50 px-5 py-3">
                    <div class="text-sm">
                      <a
                        href="#"
                        class="font-medium text-cyan-700 hover:text-cyan-900"
                      >
                        View all
                      </a>
                    </div>
                  </div>
                </div>

                <!-- more item -->
                <div class="bg-white overflow-hidden shadow rounded-lg">
                  <div class="p-5">
                    <div class="flex items-center">
                      <div class="flex-shrink-0">
                        <i class="fas fa-wallet fa-2x"></i>
                      </div>
                      <div class="ml-5 w-0 flex-1">
                        <dl>
                          <dt
                            class="text-sm font-medium text-gray-500 truncate"
                          >
                            Income
                          </dt>
                          <dd>
                            <div class="text-lg font-medium text-gray-900">
                              $30,659.45
                            </div>
                          </dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <div class="bg-gray-50 px-5 py-3">
                    <div class="text-sm">
                      <a
                        href="#"
                        class="font-medium text-cyan-700 hover:text-cyan-900"
                      >
                        View all
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="/navJs/nav.js"></script>
  </body>
</html>
