@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  font-size: 2em !important;
}

.daterangepicker .drp-calendar {
  max-width: 100% !important;
  width: 100%;
}

.daterangepicker .calendar-table {
  height: 100%;
}

.daterangepicker .calendar-table table {
  border-collapse: separate !important;
  height: 100%;
}

.daterangepicker.show-calendar .drp-calendar {
  height: 50%;
}

.daterangepicker .calendar-table td.occupied-left {
  border-color: #dee201;
  border-width: 3px 0px 3px 3px;
  border-radius: 0.5rem 0 0 0.5rem;
  color: #000;
}

.daterangepicker .calendar-table td.occupied-right {
  border-color: #dee201;
  border-width: 3px 3px 3px 0px;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #000;
}

.daterangepicker .calendar-table td.occupied-both {
  background-color: #dee201;
  border-color: transparent;
  color: #000;
  border-radius: 0.5rem;
}

.daterangepicker .calendar-table td.occupied-in-range {
  border-color: #dee201;
  border-width: 3px 0 3px 0;
  color: #000;
  border-radius: 0;
}

.daterangepicker .drp-selected {
  font-size: 25px !important;
}

.daterangepicker .drp-buttons .btn {
  font-size: 25px !important;
}
