@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.daterangepicker .calendar-table table {
  border-collapse: separate !important;
}

.daterangepicker .calendar-table td.occupied-left {
  border-color: #dee201;
  border-width: 2px 0px 2px 2px;
  border-radius: 0.5rem 0 0 0.5rem;
  color: #000;
}

.daterangepicker .calendar-table td.occupied-right {
  border-color: #dee201;
  border-width: 2px 2px 2px 0px;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #000;
}

.daterangepicker .calendar-table td.occupied-both {
  background-color: #dee201;
  border-color: transparent;
  color: #000;
  border-radius: 0.5rem;
}

.daterangepicker .calendar-table td.occupied-in-range {
  border-color: #dee201;
  border-width: 2px 0 2px 0;
  color: #000;
  border-radius: 0;
}
