@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.daterangepicker .calendar-table td.occupied-end {
  background-color: #dee201;
  border-color: transparent;
  color: #000;
  border-radius: 4px 0 0 4px;
}

.daterangepicker .calendar-table td.occupied-in-range {
  background-color: #f8facf;
  border-color: transparent;
  color: #000;
  border-radius: 0;
}
